body{
    margin:40px;
    font-size:larger;
    background-color:chartreuse;
}
h1{
    text-align: center;
    text-decoration: underline;
    color:red;
}
span{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    color:red;
}
.span1{
     font-weight: bold;
    text-decoration:none;
    color:black;
}
pre{
    color:white;
    margin-left:100px;
   
}
.pre1{
    color:black;
    font-weight: normal;
    position:absolute;
    left:20px;
}